@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AccountModel
@{
}

<div class="text-center" id="accountForm">
    <h4>Sign In</h4>
    <hr />
    <form asp-action="SignInPage">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="userName" class="control-label">Username</label>
            <input asp-for="userName" class="form-control" />
            <span asp-validation-for="userName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="password" class="control-label">Password</label>
            <input asp-for="password" class="form-control" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
