@model CombinedModel


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @foreach(var item in Model.Containers)
                {
                    <input type="radio" value="@item.containerID" name="containerID" />
                    @Html.DisplayFor(modelItem => item.containerName)
                }
            </div>
            <div class="form-group">
                <label asp-for="itemMod.itemName" class="control-label" name="itemName"></label>
                <input asp-for="itemMod.itemName" class="form-control" name="itemName" />
                <span asp-validation-for="itemMod.itemName" class="text-danger" name="itemName"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
