@model InvManager.Models.ItemModel

<h4>ItemModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="containerID" class="control-label"></label>
                <input asp-for="containerID" class="form-control" />
                <span asp-validation-for="containerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemName" class="control-label"></label>
                <input asp-for="itemName" class="form-control" />
                <span asp-validation-for="itemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
