@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>

    <partial name="ConView" />
    <partial name="ItemView" />


</div>

<a asp-area="" asp-controller="Home" asp-action="Index">Back to Home Page</a>