@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Frank's<br />Community website</h1>
    <br />
    <p>Description</p>
    <br />
    <h1>MEDIA LINKS</h1>
    <br />
    <a href = "https://www.linkedin.com/in/frank-t-egelhoff/"><img class="linkImage" src="Pictures\roundLinkedInLogo.jpg" alt="LinkedIn Profile"></a>
    <a href = "https://github.com/tehistory"><img class="linkImage" src="Pictures\roundGithubLogo.jpg" alt="GitHub Profile"></a>
    <br />
    <h1 class="display-4"><u>Projects</u></h1>
    <br />
    <h4>Inventory Manager</h4>
    <br />
    <p>Description</p>
    <p><a class="nav-link" asp-area="" asp-controller="Account" asp-action="SignInPage">Check It Out!</a></p>
</div>
